{{ $permalink := .RelPermalink }}
<div class="Card">
    <div class="card_image">

    </div>
    <div class="cardtoptile">
       <a class="cardtitle" href="{{ .RelPermalink }}">{{ .Title }}</a>
    </div>
    <div class="cardtopsubtitle>
      <span class="heading">{{ .Autor.Name }} | <time>{{ .PublishDate.Format "January 2, 2006"}}</time></span>
    </div>
    <div class="cardsummary">
            {{ .Summary }}
    <div class="cardfooter">
      Tags
    <div>
    <div class="cardtags">
      {{ range .Params.tags }}
       <a class="btn" href="/tags/{{ . | urlize}}">{{ . }}</a>
      {{ end }}
    </div>
    </div>
</div>
